body {
    font-family: sans-serif;
    background-color: rgb(6, 52, 136);
    margin: 0;
}

h1 {
    background-color: rgb(62, 121, 231);
    padding: 3%;
    text-align: center;
    margin: 0;
}

div {
    padding: 3%;
    margin: 0;
    font-size: 70%;
    color: rgb(134, 173, 247);
}
p {
    font-size: medium;
}


ul {
    background-color: rgb(16, 72, 175);
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    border-top: 2px solid rgb(7, 44, 114);
    border-bottom: 2px solid rgb(7, 44, 114);
    font-size: 130%;
}
li {
    margin: 0 10px;
    float: left;
}

a {
    text-decoration: none;
    color: rgb(144, 178, 240);
    display: block;
    padding: 10px;
}

a:hover {
    /* text-decoration: underline; */
    color: white;
    background-color: rgb(8, 39, 94);
    /* border-radius: 30px; */
}

